.getty {
    position: relative;
    width: 100%;

}

.inputTasks {
    position: absolute;
    top: 260px;
    left: 1050px;
    width: 700px;
}
.alert {
    width: 600px;
    height: 20px;
}

.buttonsMenu {
    position: absolute;
    top: 950px;
    left: 1050px;
    width: 300px;
}

.ontaskText {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.taskValue {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.btn-light {
    position: absolute;
    left: 515px;
    width: 150px;
}

.ComplateTask {
 color: aqua;
}